<footer class="container-fluid footer">
            <div class="container">
                Made with <i class="lnr lnr-heart"></i> by <a href="#" >Raphaël Klaja</a> &middot; <i class="lnr lnr-bug"></i> <a href="#" ><%= __('Report a bug') %></a>
				<br><br>
				<div style="text-align:center;">
				<img class="footer_credits" src="http://mysecurebase.org/wp-content/uploads/2016/02/logo-1.png"/>
				</div>
            </div>
        </footer>

    </div>



    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://osvaldas.info/examples/audio-player-responsive-and-touch-friendly/audioplayer.js"></script>
    <script src="./static/assets/js/app.js"></script>
</body>

</html>
