/* #4caf50;*/

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?o7wsnc');
    src: url('../fonts/icomoon.eot?o7wsnc#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?o7wsnc') format('truetype'), url('../fonts/icomoon.woff?o7wsnc') format('woff'), url('../fonts/icomoon.svg?o7wsnc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.login {
    margin-top: 50px;
    text-align: center;
}

.logo i {
    font-size: 1.6em;
    border: 2px solid #333;
    border-radius: 50%;
    padding: 15px;
}

.offset-header {
    margin-top: -20px
}

input[type="mail"],
input[type="text"],
input[type="password"] {
    flex: auto;
    height: inherit;
    padding: 5px;
    padding-left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: inherit;
    font-size: 1.25em;
    background-color: transparent;
}

.footer {
    margin-top: 50px;
    background: rgba(109, 121, 134, 0.37);
    color: #fff;
    border-top: solid #4caf50 5px;
    padding: 30px;
}

footer a {
    color: inherit;
}

footer a:hover {
    color: inherit;
}

.content {
    height: 100%;
}

.navbar-custom {
    background: #4caf50;
}

.btn-primary:hover {
    color: #fff;
    background-color: #f09233;
    border-color: #f09233;
}

.btn-primary {
    color: #fff;
    background-color: #f09233;
    border-color: #f09233;
}


/*#8a2aab #f09233 #4caf50*/


/* Test */

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: #1d1f20;
}

img {
    max-width: 100%;
    height: auto;
}

.footer_credits {
    height: 50px;
}

.share {
    padding: 0 17px 0 50px;
    line-height: 40px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    border: none;
    cursor: pointer;
}

.share:before {
    font-family: 'icomoon';
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}

.share_twitter {
    background: #0074a1;
}

.share_twitter:before {
    background: #00aced;
    content: "\e901";
}

.share_facebook {
    background: #263961;
}

.share_facebook:before {
    background: #3b5998;
    content: "\e900";
}