<%- include('../partials/header') %>


<div class="jumbotron offset-header">
            <div class="container">
                <h1 class="display-3"> <span class="lnr lnr-smile"></span> Merci beaucoup!</h1>
                <p class="lead">Ce site permet aux membres de relais de publier leurs documents afin qu'ils se retrouvent plus tard sur le site du relais.</p>

                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/" role="button">Envoyer plus!</a>
                </p>
            </div>
        </div>
</div>

<%- include('../partials/footer')  %>
